mixin About
  +Section.pt-4.pt-md-5#about
    .row.align-items-center.justify-content-lg-between
      .col-md-5.order-md-1
        img.img-fluid.order-md-0.mb-4(src=`${CWD}assets/img/gallery/s.jpg`  alt='')  
        
      .col-md-7.col-lg-6
        h2 Awesome For Startups &amp; Tech
        p.lead.text-muted.mb-3  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde praesentium, pariatur molestias illum quae deleniti suscipit voluptates veritatis accusantium !
        p.lead.text-muted.mb-3  Lorem ipsum dolor sit,amet consectetur adipisicing elit. Animi iste corrupti ex facilis sint veritatis!
        .row  
          .col-12.pt-5
            img.mb-3(src='assets/img/icons/idea.png'  width="36" alt='')
            h5 Creative Minds
            p.text-muted.mb-0
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reiciendis reprehenderit, dolore repellendus aperiam recusandae?
        .row  
          .col-12.pt-5
            img.mb-3(src='assets/img/icons/atomic.png'  width="36" alt='')
            h5 Engineering &amp; Services
            p.text-muted.mb-0
              | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reiciendis reprehenderit, dolore repellendus aperiam recusandae?   
