mixin ArticleTwo
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-6.order-md-0
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/a-2.png` width='480' height='316' alt='')
      .col-md-6.text-center.text-md-left
        h2 Ready-to-Go Inner Pages
        p.lead.text-muted.mb-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus vel ipsum aliquid, tenetur dolorem necessitatibus quaerat iure. Ex, officia esse!
        p.lead.text-muted.mb-3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi iste corrupti ex facilis sint veritatis!
