mixin Features
  +Section.pt-4.pt-md-5
    .row.align-items-center
      .col-md-5.col-lg-6.order-md-1
        img.img-fluid.mb-5.mb-md-0(src=`${CWD}assets/img/illustrations/2.png` alt='')  
      .col-md-7.col-lg-6
        h2 Light, Fast &amp; Powerful
        p.lead.text-muted.mb-3  Lorem ipsum dolor sit amet consectetur adipisicing elit. In laboriosam est accusamus odio blanditiis quo eaque voluptas doloribus, suscipit laborum.
        p.lead.text-muted.mb-3  Lorem ipsum dolor sit,amet consectetur adipisicing elit. Animi iste corrupti ex facilis sint veritatis!
        .row  
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/folder.png' width="36" alt='')
            h5  Revenue Generation
            p.text-muted.mb-0
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/layers.png' width="36" alt='')
            h5 Business Plan
            p.text-muted.mb-0
              | Lorem ipsum dolor sit, amet consectetur adipisicing elit.
