mixin Stats
  +Section.pt-4.pt-md-5
    .row.justify-content-lg-between.align-items-center
      .col-lg-5.order-md-0
        img.img-fluid.mb-5(src=`${CWD}assets/img/gallery/1.png` alt='') 

      .col-lg-6
        h2  Making The Web a Better Place
        p.lead.text-muted.mb-3  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium non voluptatum at sed minima vitae amet! Officia, ut sequi, consequaturs ut sequi
        p.lead.text-muted.mb-3  Lorem ipsum dolor sit,amet consectetur adipisicing elit. Animi iste corrupti ex facilis sint veritatis!
        .row  
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/home.png'  width="36"  alt='')
            h5 Marketing Strategy
            p.text-muted.mb-0
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla perspiciatis !
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/file.png'  width="36"  alt='')
            h5 Marketing Articles
            p.text-muted.mb-0
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla perspiciatis !          
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/chat.png'  width="36"  alt='')
            h5 Marketing Resources
            p.text-muted.mb-0
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla perspiciatis !
          .col-6.pt-5
            img.mb-3(src='assets/img/icons/calculator.png'  width="36"  alt='')
            h5 Calculators
            p.text-muted.mb-0
              | Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis nulla perspiciatis !               

